<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta name="format-detection" content="telephone=no"/>
  <title><%= user.name %> | Control</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/control.css"/>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/control.js"></script>
</head>
<body>
  <div class="container">
    <button id="prev">&#x25c1;</button>
    <div id="pageBox">
      <input type="text" id="pageNum" value="1"/> / <%= numSlides %>
    </div>
    <button id="jump">JUMP</button>
    <button id="next">&#x25b7;</button>
  </div>
  <input type="hidden" id="userId" value="<%= user.id %>"/>
  <input type="hidden" id="roomId" value="<%= user.name %>"/>
  <input type="hidden" id="maxPage" value="<%= numSlides %>"/>
  <input type="hidden" id="sign" value="<%= user.sign() %>"/>
  <input type="hidden" id="date" value="<%= user.date %>"/>
</body>
</html>