<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title><%= userId %>'s live | SlideConcert</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/live.css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/swfobject.js"></script>
  <script src="/javascripts/live.js"></script>
</head>
<body>
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <a class="brand" href="#">Slide Concert</a>
        <p><h2 id="title">Offline</h2></p>
      </div>
    </div>
  </div>

  <div id="container">
    <div class="mainContainer">
      <div class="leftBox">
        <div id="slideContainer">
          <img src="/images/weblogo.png"/>
        </div>
      </div>
      <div class="rightBox">
        <div class="commentBox">
          <ul id="comments"></ul>
        </div>
        <div class="inputs">
          <input type="text" id="comment" value=""/>
          <input type="button" id="commentButton" class="btn primary" value="Comment"/>
        </div>
      </div>
    </div>
  </div>
</body>
</html>