<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta name="format-detection" content="telephone=no"/>
  <title>loginSuccess</title>
</head>
<body>
<div sytle="display: none; color: #fff;">
  <span id="id"><%= user.id %></span>
  <span id="name"><%= user.name %></span>
  <span id="token"><%= user.token %></span>
</div>
</body>
</html>