body {
  margin: 0;
  padding: 0;
  background-color: #ccc;
  font-family: 'AppleGothic', 'Lucida Grande';
}
.container {
  position: relative;
  width: 300px;
  margin: auto;
}
.container button {
  position: absolute;
  padding: 5px 20px;
  background-color: #eee;
  border-radius: 10px;
  font-size: 30px;
}
.container input {
  width: 40px;
  padding: 5px;
  font-size: 20px;
  text-align: right;
}
.container #prev {
  top: 20px;
  left: 10px;
}
.container #next {
  top: 20px;
  right: 10px;
}
.container #jump {
  top: 90px;
  left: 85px;
}
.container #pageBox {
  position: absolute;
  top: 30px;
  left: 100px;
}
