body
  margin: 0
  padding: 0
  background-color: #ccc
  font-family: 'AppleGothic','Lucida Grande'

.container
  position: relative
  width: 300px
  margin: auto

  button
    position: absolute
    padding: 5px 20px
    background-color: #eee
    border-radius: 10px
    font-size: 30px

  input
    width: 40px
    padding: 5px
    font-size: 20px
    text-align: right

  #prev
    top: 20px
    left: 10px

  #next
    top: 20px
    right: 10px

  #jump
    top: 90px
    left: 85px

  #pageBox
    position: absolute
    top: 30px
    left: 100px

