body
  padding-top: 50px
  background-color: #aaa
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','Lucida Grande',sans-serif

.topbar

  #title
    color: #fff

.mainContainer
  position: relative
  width: 980px
  margin: 20px auto

  .leftBox
    position: absolute
    display: inline-block
    top: 5px
    left: 5px
    width: 640px
    height: 550px
    background-color: #333

    #slideContainer
      position: absolute
      top: 35px
      left: 21px

  .rightBox
    position: absolute
    top: 5px
    left: 650px
    width: 325px
    height: 550px
    background-color: #fff

    .commentBox
      position: absolute
      top: 10px
      left: 5px
      width: 310px
      height: 480px
      border: 2px solid #333
      overflow-y: auto

      #comments
        position: absolute
        top: 10px
        left: 5px
        width: 300px

    .inputs
      position: absolute
      left: 5px
      bottom: 10px
