body
  padding-top: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

.typo
  padding: 250px 0 0 10px
  font-size: 50px
  line-height: 1.2em
  font-family: 'Uncial Antiqua', 'Lucida Grande'